*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 10000px;
}
/* ///////////////////common///////////////////////// */
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
.section-header{
    text-align: center;
}
.section-header .line{
    display: block;
    width: 62px;
    height: 4px;
    background-color:royalblue ;
    margin:0 auto 70px auto ;
}
/* ///////////////////header//////////////// */
.header {
    width: 100%;
    height: 40px;
    background-color:rgb(53, 162, 146);
    /* overflow: auto; */
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8 ;
    z-index: 5;
}
.logo{
    width: 120px;
    height: 40px;
    float: left;
    margin-left: 110px ;
}
.ul1 {
    list-style: none;
    float: right;
    margin-right: 60px ;
    margin-top: 11px;
}
.ul1  li {
    display: inline;
    margin-left: 25px;
    font-size: 18px;
}
.ul1 li a {
    color: black;
    position: relative;
    font-size: 21px;

} 
/* ///////////////////////sec1/////////////////////////////// */
.home {
    height: 100vh ;
    background-image: url(../images/home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 200, 221, 0.6)
}

.home-content {  
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
}
.hh111{
    color: black;
    font-size: 40px;
}
.para111{
    color: black;
    margin-top: 20px ;
    margin-bottom: 15px;
    font-size:21px ;
}
.btn1 , .btn2 {
    width: 130px;
    padding: 15px  0px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    height: 45px;
}
.btn2 {
    background-color: rgb(16, 156, 226);
    color:#fff;
    margin-left: 8px ;
}

.btn1:hover {
    opacity: 0.5;
}
.btn2:hover {
    opacity: 0.5;
}
/* ///////////////////SEC2/////////////////////////// */
.sec2{
    height: 200px;
    width: 100%;
}
.container2{
    margin: 0px 100px;
    overflow: auto;
}
.ss2{
    color: rgb(47, 47, 228);
    font-size: x-large;
    margin: 20px 0px;
}
.yol{
    color:black;
    font-size: 23px;
}
h3:hover{
    color: rgb(185, 216, 225);
    z-index: 5;
}
.par2{
    color:rgb(11, 11, 11);
    margin: 20px 0px;
    font-size: 16px;
}
a{
    color: rgb(0, 132, 255);
    margin: 20px 0px;
}
.header2{
    text-align: center;
    font-size: x-large;
    margin: 50px 0px;
}
.line{
    height: 3px;
    width: 70px;
    background-color: blue;
    margin: auto;
}
/* ///////////////////////////////////// */
.square1{
    border: 1px solid gray;
    width: 370px;
    height: 220px;
    text-align: center;
    float: left;
    margin: 0px 00px;
    position: relative;
    z-index: 3;
    background-color: rgb(222, 243, 241);
}
.square1::after{
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgb(141, 188, 180);
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.square1:hover::after{
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
}
/* //////////////////////////// */
.square2{
    border: 1px solid gray;
    width: 370px;
    height: 220px;
    text-align: center;
    float: left;
    margin: 0px 40px;
    position: relative;
    margin-left:380px ;
    background-color: rgb(222, 243, 241);
}
.square2::after{
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    top: 0;
    left: 0 ;
    background-color:rgb(141, 188, 186);
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.square2:hover::after{
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
}
/* ///////////////////////////////// */
.square3{
    border: 1px solid gray;
    width: 370px;
    height: 220px;
    text-align: center;
    float: left;
    margin: 0px 00px;
    margin-left:755px ;
    position: relative;
    background-color: rgb(222, 243, 241);
}
.square3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0 ;
    background-color: rgb(141, 188, 186);
    opacity: 1;
    transition: 1s ;
    z-index: 2;
}
.square3:hover::after{
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
}
/* /////////////////////////SEC3////////////////////// */
.sec3{
    width: 100%;
    height: 1270px;
    margin-top:200px ;
    background-color: beige;
}
.container3{
    margin-top: 200px;
}
.header3{
    text-align: center;
    display: block;
    /* margin: 600px 200px; */
    margin-top: 650px;
}
.title3{
    font-size: xx-large;
}
.img2{
    width: 200px;
    height: 250px;
    /* margin-left: 200px; */
    margin-bottom: 300px;
    margin: 25px 50px;
} 
.layer{
    text-align: center;
    margin-top: -220px;
    opacity: 0;
}
.layer:hover{
    opacity: 2;
    background-color:rgb(196, 210, 210) ;
    transition: 2s;
}
.category{
    font-size:xx-large;
    color: rgb(11, 11, 11);
}
.catagory:hover{
    color: rgb(71, 149, 172);
}
/* //////////////////////////////// */
.cat1{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 0px 20px;
    margin-top: 20px;
    float: left;
}
.layerBoss1{
    width: 350px;
    height: 350px;
    margin: 0px 60px;
    margin-top: -150px;
    opacity:0.6;
    position: relative;
    float: left;
}
.layerBoss1:hover{
    background-color: rgb(160, 200, 226);
    transition: 1s;
}
.cat2{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 0px 20px;
    margin-top: 20px;
    float: left;
}
.layerBoss2{
    width: 350px;
    height: 350px;
    margin: 0px 60px;
    margin-left: 900px;
    margin-top: -340px;
    opacity:0.6;
    position: relative;
    float: left;
}
.layerBoss2:hover{
    background-color: rgb(137, 197, 169);
    transition: 1s;
}
.cat3{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 0px 20px;
    margin-top: 20px;
    float: left;
}
.layerBoss3{
    width: 350px;
    height: 350px;
    margin: 0px 60px;
    margin-top: 40px;
    opacity:0.6;
    position: relative;
    float: left;
}
.layerBoss3:hover{
    background-color:rgb(160, 200, 226);
    transition: 1s;
}
.cat4{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 0px 20px;
    margin-top: 20px;
    position: relative;
    float: left;
}
.layerBoss4{
    width: 350px;
    height: 350px;
    margin: 0px 60px;
    margin-top: -340px;
    margin-left: 900px;
    opacity:0.6;
    position: relative;
    float: left;
}
.layerBoss4:hover{
    background-color: rgb(137, 197, 169);
    transition: 1s;
}
.cat5{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 0px 20px;
    margin-top: 20px;
    float: left;
}
.layerBoss5{
    width: 350px;
    height: 350px;
    margin: 0px 60px;
    margin-top: 40px;
    margin-left: 55px;
    margin-right: 8px;
    opacity:0.6;
    position: relative;
    float: left;
}
.layerBoss5:hover{
    background-color: rgb(160, 200, 226);
    transition: 1s;
}
.cat6{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 0px 20px;
    margin-top: 20px;
    position: relative;
    float: left;
    /* margin-left: 200px; */
}
.layerBoss6{
    width: 350px;
    height: 350px;
    margin: 0px 60px;
    margin-top: 40px;
    margin-left: 500px;
    opacity:0.6;
    position: relative;
    float: left;
}
.layerBoss6:hover{
    background-color: rgb(137, 197, 169);
    transition: 1s;
}
/* /////////////////////////SEC4///////////////////// */
.sec4{
    height: 600px;
}
.container4{
    margin: 100px 200px;
}
.header4{
    text-align: center;
    margin: 100px 200px;
    display: block;
}
.title4{
    font-size: xx-large;
}
.ov{
    float:left;
    color:rgb(21, 132, 242);
    margin:30px 30px;
    font-size: xx-large;   
}
.ov:hover{
    color: beige;
    transition: 1s;
}
.hov{
    margin:30px 10px;
    font-size: 25px;
    color: cornflowerblue;
}
.hov:hover{
    color: beige;
    transition: 1s;
}
.pov{
    font-size: larger;
    text-align: center;
    display: block;
}
.pov:hover{
    color: beige;
    transition: 1s;
}
.over1{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    float: left;
    background-color: beige;

}
.over1:hover{
    background-color:rgb(196, 237, 234) ;
    transition: 1s;
}
.over2{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin: 0px 60px;
    margin-left:600px ;
    margin-bottom:200px ;
    position: relative;
    float: left;
    background-color: beige;
}
.over2:hover{
    background-color: rgb(196, 237, 234);
    transition: 1s;
}
.over3{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    float: left;
    margin-top:-200px ;
    background-color: beige;
}
.over3:hover{
    background-color: rgb(196, 237, 234);
    transition: 1s;
}
.over4{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin: 60px 0px;
    position: relative;
    float: left;
    margin-left:240px ;
    background-color: beige;
}
.over4:hover{
    background-color: rgb(196, 237, 234);
    transition: 1s;
}
.over5{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: -60px;
    /* margin: 60px 60px; */
    position: relative;
    float: left;
    margin-right: 50px;
    background-color: beige;
}
.over5:hover{
    background-color: rgb(196, 237, 234);
    transition: 1s;
}
.over6{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    /* margin: 60px 0px; */
    position: relative;
    float: left;
    margin-top:240px ;
    margin-left: 140px;
    background-color: beige;
}
.over6:hover{
    background-color: rgb(196, 237, 234);
    transition: 1s;
}
/* //////////////////////////////SEC 5/////////////////// */
.sec5{
    height: 300px;
    margin-top: 600px;
}
.container5{
    margin: -300px 80px;
    margin-top: 950px;

}
.s{
    /* left: 10%; */
    position: absolute;
    color: black;
    width: 550px;
    margin-right: 50px;
}
.imgit{
    float: right;
    margin-right: 20px;
    margin-top: 60px;
    height: 360px;
    width: 600px;
    background-color:silver;
}
.klo{
    float: right;
    height: 300px;
    width: 540px;
    margin: 30px 30px;
}
.title5{
    font-size: 45px;
    margin-top: 400px;
    color: rgb(154, 85, 17);
}
.line5{
    height: 3px;
    width: 70px;
    background-color: blue;
    margin: auto;
}
.desc{
    font-size: x-large;
}
.p{
    color: rgb(154, 85, 17);
    font-size: x-large;
}
.span5{
    font-size: larger;
    color: black;
    font-size: 22px;
}
.point2{
    float: right;
    margin-right: 150px;
    margin-top: 60px;
    width: 100px;
    height: 20px;
    margin-top: -25px;
}
.point3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: beige;
    float: left;
    margin: 0px 5px;
}
.service-list{
    color: rgb(49, 59, 61);
    margin-top: 40px;
}
/* ////////////////////SEC5///////////////////////// */
.sec6{
    width: 100%;
    height: 400px;
    background-image: url(../images/sky3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    margin-top: 500px;
}
.nav ,.nav1{
    float: left;
    text-align: center;
    margin: 150px 115px;
    color: black;
    font-size: x-large;
}
.nav1{
    margin-left: 1100px;
    margin-top: -250px;
}
/* ////////////////////////////SEC6/////////////////////// */
.sec7{
    height: 600px;
}
.container7{
    margin: 0px 213px;
}
.header7{
    text-align: center;
    font-size: 50px;
    margin: 100px 0px;
}
.title7{
    font-size: xx-large;
}
.para7{
    width: 140px;
    margin: 30px auto;
    margin-top: -20px;
    z-index: 1;
}
.circle7{
    border: 4px solid skyblue ;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    margin: 60px auto;
    text-align: center;
}
.hj7{
    font-size: 40px;
    margin-top: 30px;
}
.hh7{
    margin-top: -40px;
    font-size: larger;
    text-transform: uppercase;
}
.b4{
    color:black;
    font-size: larger;
    margin-top: -10px;
    font-size: x-large;
}
.para7{
    width: 140px;
    margin: 30px auto;
    margin-top: -20px;
    z-index: 1;
}
.line1{
    width: 75px;
    height: 4px;
    background-color: blue;
    margin: auto;
    margin-top: -25px;
}
.bb7{
    border: 2px solid skyblue;
    width: 120px;
    height: 25px;
}
/* /////////////////////////////////// */
.div1 {
    margin: 100px 0px;
    width: 340px;
    height: 450px;
    border: 2px solid grey ;
    position: relative;
    float: left;
    margin: 0px 00px;
    margin-right: 100px;
    text-align: center;
    z-index: 3;
}
.div1::after {
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    top: 0 ;
    left: 0 ;
    background-color: rgb(124, 218, 205);
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.div1:hover::after {
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
/* ////////////////////////////////// */
.div2{
    margin: 0px 62px;
    width: 340px;
    height: 450px;
    border: 2px solid grey;
    position: relative;
    float: left;
    text-align: center;
    z-index: 3;
}
.div2::after {
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    right: 0;
    top: 0 ;
    background-color: rgb(124, 218, 205);
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.div2:hover::after {
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
/* ////////////////////////////////// */
.div3 {
    width: 340px;
    height: 450px;
    border: 2px solid grey ;
    position: relative;
    float: left;
    text-align: center;
    z-index: 3;
    margin-left: 250px;
    margin-top: 30px;
}
.div3::after {
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    right: 0;
    top: 0 ;
    background-color: rgb(124, 218, 205);
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.div3:hover::after {
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
/* ///////////////////////////SEC7/////////////////// */
.section8 {
    height: 70vh;
    background-image: url("../images/background8.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover; 
    /* overflow: auto; */
    margin-top:540px ;
}
.section8 .overlay3{
    height: 40vh;
    position: relative;
    left: 0;
    top: 0;
    /* background-color: rgba(0,0,0,1); */
    z-index:1;
    color: white;
    font-size: 20px;
    font-family: arial;
} 
.colum1, .colum2 {
    width: 45%;
    height: 35vh;
    position: absolute;
    top: 26%;
    left: 5%;
    z-index: 3;
    float: left; 
}
.colum2 {
    left: 52%;
}
.cor1 {
    width: 150px;
    height: 150px;
    margin-left: 10%;
    margin-top: -3%;
    border-radius: 50%;
}
h2.leader {
    margin-top: -22%;
    margin-left: 38%;
    line-height: 4rem;
}
span.job {
    margin-left: 39%;
}
p.description {
    margin-top: 10%;
    line-height: 2rem;
    margin-left: 16%;
    font-size: 16px;
    color: black;
}
/* ////////////////////////SEC8////////////////////////// */
.sec9{
    height: 400px;
    position: relative;
    margin-top: 400px;
}
.container9{
    width: 80%;
    height: 200px;
    margin: auto;
}
.header9{
    text-align: center;
    font-size: 50px;
    margin: 100px 0px;
}
.title9{
    font-size: larger;
}
.tco{
    overflow: auto;
}
.tit{
    float: left;
    width: 27%;
    /* height: 100px; */
    background-color: rgb(238, 232, 192);
    padding: 17px 13px;
    text-align: center;
    position:relative;
    z-index: 1;
}
.timg{
    width: 90%;
    margin: auto;
    position: relative;
}
.tov{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(0, 0, 0.5); */
    visibility: hidden;
    opacity: 0;
}
.tit:hover .tov{
    visibility: visible;
    opacity: 1;
}
.tov a{
    display: block;
    width: 40px;
    height: 40px;
    background-color:blue;
    margin-left: auto;
    color: #fff;
}
.tov a i{
    line-height: 40px;
}
.mg{
    margin: 0px 5%;
}
.timg .image {
    width: 100%;
    height: 100%;
}
.tis{
    color: rgb(73, 73, 73);
    font-size: 16px;
}
.tit::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(188, 169, 169);
    opacity: 0.5;
    transition: 1s;
}
.tit:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}
.img3{
    width: 100%;
    height: 100%;
}
.tin .ttit{
    padding: 10px 0px;
    text-transform: uppercase;
}
/* /////////////////////////////sec10////////////////////////////// */
.container10{
    width: 80%;
    height: 600px;
    margin: auto;
    margin-left: 260px;
    margin-top: 300px;
}
.header10{
    text-align: center;
    margin: 200px 00px;
}
.div12{
    width: 340px;
    height: 700px;
    background-color:azure;
    position: relative;
    float: left;
    margin: 0px 0px;
    z-index: 2;
}

.div12::after {
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    bottom: 0;
    left: 0 ;
    background-color: grey;
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.div12:hover::after {
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
/* ////////////////////////////////// */
.div13{
    width: 340px;
    height: 700px;
    background-color:azure;
    position: relative;
    float: left;
    margin: 0px 50px;
    z-index: 2;
}
.div13::after {
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.div13:hover::after {
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
/* ////////////////////////////////// */
.div14{
    width: 340px;
    height: 700px;
    background-color:azure;
    position: relative;
    float: left;
    z-index: 2;
    margin-top: 50px;
    margin-left: 200px;
}
.div14::after {
    content: "";
    position: absolute;
    width: 100% ;
    height: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    opacity: 1;
    transition: 1s ;
    z-index: -1;
}
.div14:hover::after {
    width:100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
/* //////////////////////////////////// */
.img14{
    margin-left: 20px;
    width: 310px;
    height:400px ;
}
.icon14{
    margin: 20px 20px;
    color: blue;
    font-size: small;
}
.h14{
    margin-left: 20px;
}
.p14{
    margin-left: 20px;
    color: gray;
}
.un{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(36, 183, 241);
}
/* /////////////////////////sec11/////////////////////////////////////// */
.sec11{
    width: 100%;
    height: 300px;
    background-color: gray;
    text-align: center;
    margin-top: 950px;
}
.imgfoot img{
    width: 10%;
    margin-top: 75px;
}
.foot{
    margin-top: 30px;
}
.sec11-link{
    background-color:#6195ff;
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
}
.sec11-link:hover{
    background-color:blue;
    cursor: pointer;
}
.sec11-text{
    margin-top: 40px;
    color: rgb(34, 33, 33);
}
/* /////////////////////// :Ilk site Bitti ://///////////////// */